<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onSavePost()"  *ngIf="!isLoading">

        <mat-form-field>
            <input matInput formControlName="title" 
            type="text"  
            placeholder="Title"  
            required 
            minlength="3" />
            <mat-error *ngIf="form.get('title').invalid">Please enter title!</mat-error> 
        </mat-form-field>
        <mat-form-field>
            <textarea matInput rows="4" 
            placeholder="Content"  
            required 
            formControlName="content"></textarea>
            <mat-error *ngIf="form.get('title').invalid">Please enter content!</mat-error> 

        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Save</button>
    </form>
</mat-card>
<hr>
<p>{{ newPost }}</p>