<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">

        <mat-form-field>
            <input matInput name="title" type="text" placeholder="Title" ngModel required minlength="3" />
            <!-- <mat-error *ngIf="title.invalid">Please enter title!</mat-error> -->
        </mat-form-field>
        <mat-form-field>
            <textarea matInput rows="4" placeholder="Content" ngModel required name="content"></textarea>
            <!-- <mat-error *ngIf="content.invalid">Please enter content!</mat-error> -->

        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Save</button>
    </form>
</mat-card>
<hr>
<p>{{ newPost }}</p>