<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form  (submit)="onSignup(signupForm)" *ngIf="!isLoading" #signupForm="ngForm">
        <mat-form-field>
            <input matInput name="emailInput" ngModel  type="email" placeholder="Email Address" 
            #emailInput= "ngModel"
            required email/>
            <mat-error *ngIf="emailInput.invalid">Please enter valid email!</mat-error> 
        </mat-form-field>
        <mat-form-field>
            <input matInput name="passwordInput" ngModel type="password"  placeholder="Password" 
            #passwordInput="ngModel" required/>
            <mat-error *ngIf="passwordInput.invalid">Please enter valid password</mat-error> 

        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Sign up</button>
    </form>
</mat-card>